{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% if post.collection == 'fun' %}
  {{ post.excerpt }}
{% else %}
<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <div style="display: flex; align-items: center;">
      {% if post.media %}
        <div style="flex: 1; max-width: 40%;">
          {% if post.media contains "youtube.com" or post.media contains "youtu.be" %}
            <iframe width="100%" height="56.25%" src="{{ post.media | replace: 'watch?v=', 'embed/' }}" frameborder="0" allowfullscreen></iframe>
          {% else %}
            <img src="{{ post.media | prepend: base_path }}" alt="Publication Image" style="width: 100%; height: auto; border-radius: 8px;">
          {% endif %}
        </div>
      {% endif %}
      <div style="flex: 2; padding-left: 20px;">
        <h2 class="archive__item-title" itemprop="headline">
          {% if post.link and post.collection != 'fun' %}
            <a href="{{ post.link }}">{{ title }}</a> 
            <a href="{{ base_path }}{{ post.url }}" rel="permalink">
              <i class="fa fa-link" aria-hidden="true" title="permalink"></i>
              <span class="sr-only">Permalink</span>
            </a>
          {% elsif post.collection != 'fun' %}
            <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
          {% endif %}
        </h2>
        
        <p style="font-size: smaller">Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} {% if post.paperurl %}<a href="{{ post.paperurl }}">[Read the Paper]</a>        {% endif %} </p>
        <p>{{ post.citation }}</p>
        
        
      </div>
    </div>
  </article>
</div>

{% endif %}