/* ==========================================================================
   ARCHIVE
   ========================================================================== */

.archive {
  margin-bottom: 2em;
  .container2 .about-box {
    position: relative;
    text-align: center;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 12px;

    a {
      img {
        width: 250px;
        height: 250px;
        border-radius: 10px;
        object-fit: cover;

      }
    }
  }
  .container a {
    text-decoration: none;
  }
  .container a:hover{
    text-decoration: none;
  }
  .container {
    display: flex;
    flex-direction: column; /* Stack rows vertically */
    gap: 10px;             /* Spacing between rows */
    width: 100%;           /* Full container width */
    box-sizing: border-box;
  }
  .a {
    background-color: white;
  }
  .about-row {
    background-color: rgba(#fff, 0);

    display: grid;
    grid-template-columns: 1fr 2fr; /* Image takes 1 column; text takes 2 columns */
    grid-template-rows: 1fr;       /* Single row */
    align-items: center;
    border-radius: 10px;           /* Rounded corners */
    overflow: hidden;
    border: 3px solid #472E56;        /* Border around the entire row */
    transition: transform ease-in-out 0.3s, box-shadow ease-in-out 0.3s, background-color ease-in-out 0.3s;
    margin-right:10px;        /* Rounded corners */

  }
  .about-row2 {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Image takes 1 column; text takes 2 columns */
    grid-template-rows: 1fr;       /* Single row */
    align-items: center;
    border-radius: 10px;           /* Rounded corners */
    overflow: hidden;
    border: 3px solid #472E56;        /* Border around the entire row */
    transition: transform ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
    margin-right:10px;        /* Rounded corners */

  }
  .contain3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Image takes 1 column; text takes 2 columns */
    grid-template-rows: 1fr;       /* Single row */
    align-items: center;
  }
  .about-row3 {
    display: grid;
    grid-template-columns: 1fr; /* Image takes 1 column; text takes 2 columns */
    grid-template-rows: 1fr;       /* Single row */
    align-items: center;
    background-color: #fff;
    overflow: hidden;
    transition: transform ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
    border: 3px solid #472E56;        /* Border around the entire row */
    border-radius: 10px;   
    margin-right:10px;        /* Rounded corners */
  }
  .about-row3:hover {
    transform: scale(1.01);
    transition: transform ease-in-out 0.3s;
    background-color: rgba(#fff, 0.3);
    img {
      opacity: 0.7;
      transition: opacity 0.3s ease;
    }
  
  }
  .about-row3:hover:after {
    transform: scale(1.0);
    transition: transform ease-in-out 0.3s;
  }

  /* Image section styling */
  .row-image {
    width: 100%;
    height: width;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .row-image img {
    width: 100%;          /* Image fills its container */
    background-color: white;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    //border-right: 2px solid #ccc; /* Border to separate from text */
  }    

  .about-row:hover, .about-row2:hover {
    .row-image, .row-text {
    background-color: rgba(#fff, 0.3);
    transition: background-color 0.3s ease-in-out;
    }
  }
  .about-row2:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
    transition: transform ease-in-out 0.3s;
    
  }
  .about-row2:hover:after {
    transform: scale(1.0);
    transition: transform ease-in-out 0.3s;
  }
  
  /* Text section styling */
  .row-text {
    padding: 20px;
    font-family: Snap-ItMono;
    color: #333;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }

  .row-text h3 {
    margin: 0 0 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #472E56; /* Accent color for headings */
  }

  .row-text p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
  }

  /* Adjust hover effect for rows */
  .about-row:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
    transition: transform ease-in-out 0.3s;
    
  }
  .about-row:hover:after {
    transform: scale(1.0);
    transition: transform ease-in-out 0.3s;
  }
    

  @include breakpoint($medium) {
    @include span(12 of 12);
  }

  @include breakpoint($large) {
    @include span(10 of 12 last);
    @include prefix(0.5 of 12);
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: underline;

      img {
        box-shadow: 0 0 10px rgba(#000, 0.25);
      }
    }
  }
}

.archive__subtitle {
  margin: 1.414em 0 0;
  padding-bottom: 0.5em;
  font-size: $type-size-5;
  color: mix(#fff, $gray, 25%);
  border-bottom: 1px solid $border-color;

  + .list__item .archive__item-title {
    margin-top: 0.5em;
  }
}

.archive__item-title {
  margin-bottom: 0.25em;
  font-family: $sans-serif-narrow;

  a + a {
    opacity: 0.5;
  }
}

/* remove border*/
.page__content {

  .archive__item-title {
    margin-top: 1em;
    border-bottom: none;
  }
}

.archive__item-excerpt {
  margin-top: 0;
  font-size: $type-size-6;

  & + p {
    text-indent: 0;
  }
}

.archive__item-teaser {
  border-radius: $border-radius;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.archive__item:hover {
  .archive__item-teaser {
    box-shadow: 0 0 10px rgba(#000, 0.25);
  }

  .archive__item-title {
    text-decoration: underline;
  }
}


/*
   List view
   ========================================================================== */

.list__item {
  @include breakpoint($medium) {
    padding-right: $right-sidebar-width-narrow;
  }

  @include breakpoint($large) {
    padding-right: $right-sidebar-width;
  }

  @include breakpoint($x-large) {
    padding-right: $right-sidebar-width-wide;
  }

  .page__meta {
    margin: 0 0 4px;
  }
  
}


/*
   Grid view
   ========================================================================== */

.grid__item {
  margin-bottom: 2em;

  .page__meta {
    margin: 0 0 4px;
  }

  .archive__item-title {
    margin-top: 0.5em;
    font-size: $type-size-5;
  }

  .archive__item-excerpt {
    display: none;
  }

  @include breakpoint($small) {
    @include gallery(5 of 10);
    .archive__item-teaser {
      max-height: 200px;
    }
  }

  @include breakpoint($medium) {
    margin-left: 0; /* reset before mixin does its thing*/
    margin-right: 0; /* reset before mixin does its thing*/
    @include gallery(2.5 of 10);

    .archive__item-teaser {
      max-height: 120px;
    }

    .archive__item-excerpt {
      display: block;
      font-size: $type-size-6;
    }
  }
}


/*
   Features
   ========================================================================== */

.feature__wrapper {
  @include clearfix();
  margin-bottom: 2em;
  border-bottom: 1px solid $border-color;
}

.feature__item {
  margin-bottom: 2em;
  font-size: 1.25rem;

  @include breakpoint($small) {
    margin-bottom: 0;
    @include gallery(4 of 12);

    .feature__item-teaser {
      max-height: 200px;
      overflow: hidden;
    }
  }

  &--left {
    @include full();
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      .archive__item-teaser {
        @include span(5 of 12);
      }

      .archive__item-body {
        @include span(7 of 12 last);
        @include prefix(0.5 of 12);
        @include suffix(1 of 12);
      }
    }
  }

  &--right {
    @include full();
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      text-align: right;

      .archive__item-teaser {
        @include span(5 of 12 rtl);
      }

      .archive__item-body {
        @include span(7 of 12 last rtl);
        @include prefix(0.5 of 12);
        @include suffix(1 of 12);
      }
    }
  }

  &--center {
    @include full();
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      text-align: center;

      .archive__item-teaser {
        margin: 0 auto;
        width: span(5 of 12);
      }

      .archive__item-body {
        margin: 0 auto;
        width: span(7 of 12);
      }
    }
  }
}
